* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 50px;
    background-color: rgb(18, 53, 17, 0.62);
    background-size: cover;
    background-position: center;
    padding: 5px 5%;
}

.logo {
    width: 120px;
    height: 100px;
    cursor: pointer;
}

nav form {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
}

nav form input {
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
}

.btn {
    background: rgba(0, 0, 0, 0);
    color: #fff;
    cursor: pointer;
}

.button {
    display: center;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #f5168d00;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    color: rgba(255, 255, 255, 0.664);
    text-decoration: none;
}


.contact {
    width: 80%;
    margin: 50px auto;
}

.contact-box {
    background: rgb(157, 191, 166);
    display: flex;
}

.contact-left {
    flex-basis: 60%;
    padding: 40px;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px 60px;
    background: rgb(31, 64, 42);
    color: #fff;
}

.contact h1 {
    margin-bottom: 10px;
}

.contact p {
    margin-bottom: 10px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label {
    margin-bottom: 6px;
    display: block;
    color: #1f3921;
}

.send {
    background: #1f3921;
    width: 100px;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(49, 78, 33, 0.3);
}

.contact-left h3 {
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3 {
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child {
    padding-right: 20px;

}

tr td {
    padding-top: 20px;
}

.staff {
    margin-left: 120px;
    margin-top: 100px;
    font-size: 40px;
}

.arow {
    display: flex;
    flex-wrap: wrap;
    padding: 8%;
}

.acol {
    flex-basis: 50%;
    position: relative;
}

.acol p {
    margin-top: 5%;
    font-size: 25px;
}

.acol h1 {
    margin-top: 5%;
}

.aimg {
    width: 300px;
    margin-top: 10px;
}

@media screen and (max-device-width: 1024px) {
    nav ul {
        list-style: none;
        width: 100%;
        text-align: right;
        font-size: 40px;
        padding-right: 60px;
    }

    .contact h1 {
        margin-bottom: 10px;
        font-size: 60px;
    }

    .contact p {
        margin-bottom: 10px;
        font-size: 40px;
    }
}

@media screen and (max-device-width: 430px) {
    nav ul {
        list-style: none;
        width: 100%;
        text-align: left;
        font-size: 60px;
        padding-right: 60px;
    }

    .contact h1 {
        margin-bottom: 10px;
        font-size: 60px;
    }

    .contact p {
        margin-bottom: 10px;
        font-size: 40px;
    }

    nav {
        width: 100%;
        display: block;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
    }

    .logo {
        width: 160px;
        height: 120px;
        cursor: pointer;
    }

    .input-row {
        display: block;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .contact-box {
        background: rgb(157, 191, 166);
        display: block;
    }
}